*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root{
font-size: 62.5%;
}
body{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 background-image: url(./assets/fundo.svg);
}
#ajuste{
  padding-top: 250px;
  display: flex;
  justify-content: space-around;
  width: 1200px;
}
.linha1,.linha4,.linha2{
position: relative;
}
#buraco2,#buraco3,#buraco4,
#buraco6,#buraco7,#buraco8,
#buraco9,#buraco10,#buraco11
{
  position: absolute;
  opacity: 0;
}
#buraco4{
animation: aparecetoupeira1 700ms;
}
#buraco3{
  animation: aparecetoupeira2 700ms;
  animation-delay: 600ms;
}
#buraco2{
    animation: aparecetoupeira3 700ms;
    animation-delay: 1300ms;   
}



  #buraco8{
  animation: aparecetoupeira1-2 700ms;
  animation-delay: 4000ms;
  }
  #buraco7{
    animation: aparecetoupeira2-2 700ms;
    animation-delay: 4600ms;
  }
  #buraco6{
      animation: aparecetoupeira3-2 700ms;
      animation-delay: 5300ms; 
  }


  #buraco9{
    animation: aparecetoupeira1-3 700ms;
    animation-delay: 8000ms;
    }
    #buraco10{
      animation: aparecetoupeira2-3 700ms;
      animation-delay: 8600ms;
    }
    #buraco11{
        animation: aparecetoupeira3-3 700ms;
        animation-delay: 9300ms; 
    }


@keyframes aparecetoupeira1{
    0%{
    opacity: 0.6;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }
  @keyframes aparecetoupeira2{
    0%{
    opacity: 0.5;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }
  @keyframes aparecetoupeira3{
    0%{
    opacity: 0.5;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }


  @keyframes aparecetoupeira1-2{
    0%{
    opacity: 0.6;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }
  @keyframes aparecetoupeira2-2{
    0%{
    opacity: 0.5;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }
  @keyframes aparecetoupeira3-2{
    0%{
    opacity: 0.5;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }
  
  @keyframes aparecetoupeira1-3{
    0%{
    opacity: 0.6;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }
  @keyframes aparecetoupeira2-3{
    0%{
    opacity: 0.5;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }
  @keyframes aparecetoupeira3-3{
    0%{
    opacity: 0.5;
    }
    25%{
      opacity: 1;
    }
    50%{
      opacity: 1;
    }
    100%{
      opacity: 1;
    } 
  }

  @media(max-width:980px){
    .linha3{
    display: none;
    }
  }
  @media(max-width:730px){
    .linha2{
    display: none;
    }
  }



